// IMPORT
// social links


// JOIN
.join {
    &__text {
            margin-bottom: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--primary-white-color);
    }
}