// IMPORT
// logo
@import '../components/logo';
// address
@import '../components/address';
// join and social links
@import '../components/join';
@import '../components/social-links';
// follow
@import '../components/follow';




// FOTER
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background-color);


    &__section {
        display: flex;
        align-items: baseline;
        gap: 70px;
    }
}